<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/script.js" defer></script>
  <title>Document</title>
</head>
<body>
  <div id="wrapper">
    <header>
      <h2>basicT</h2>
    </header>
    <main id="form-login-register">
      <div class="card" id="form">
        <h2>Faça login</h2>
        <br/>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" placeholder="Digite seu email." />
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Digite sua senha." />
        <button>Entrar</button>
      </div>
    </main>
  </div>
</body>
</html>